h1 
{
    font-size: 2em;
    line-height: 1;
    margin-bottom: 0.5em;
    font-weight: normal;
    color: #111;
}

.hidden_block   
{
    display: none;
}

/*overrade screen.css .span-19*/
.span-19 
{
    width:700px;
}

.page_header
{
    text-align: center;
}
